.guess-input
    display: flex
    justify-content: center
    align-items: center
    gap: 10px
    width: 450px
    padding: 25px
    border-radius: 10px
    border: 1px solid #000
    background-color: rgba(0,0,0,0.5)

    &__input
        padding: 20px 10px
        font-size: 1.5rem

    &__submit
        width: 100px
        background: none
        border: none
        transition: all .3s ease-in-out
        display: inline-block
        cursor: pointer

        &:hover
            transform: translateY(-10px)

    .wiggle
        animation: wiggle 0.5s ease-in-out

    @keyframes wiggle
        0%
            transform: rotate(0deg)

        25%
            transform: rotate(10deg)

        50%
            transform: rotate(-10deg)

        75%
            transform: rotate(10deg)

        100%
            transform: rotate(0deg)
